# General
*.[oa]
*.pyc
*.raw
*~
*.out
*.so.*
*.art
*.dot
*.prof
*.cfg
cpfnet.pyd
cpfnet.c
cpfnet.h
*foo*
build/
__pycache__/

# JSON
temp_json.json

# PyCharm Project Files
.idea/*

# Builds
*.o
lib/*
python/build/*
python/pfnet/*.so
python/lib/pfnet

# Tests
tests/*.out
tests/run_tests
tests/run_tests.sh.log
tests/run_tests.sh.trs
tests/test-suite.log

# Autotools
*.lo
*.la
.deps/
.dirstamp
.libs/
aclocal.m4
autom4te.cache/
autoscan.log
compile
configure
configure.scan
config.guess
config.log
config.status
config.sub
depcomp
include/pfnet/config.h
include/pfnet/config.h.in
include/pfnet/pfnet_config.h
include/pfnet/pfnet_config.h.in
include/pfnet/stamp-h1
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
src/Makefile
src/Makefile.in
test-driver
tests/Makefile
tests/Makefile.in

# cmake
/build

# Python examples
graph.png

# Mac OSX
.DS_Store
