# General
*.[oa]
*.raw
*.epc
*~
*.out
*.so.*
*.dylib
*.art
*.dot
*.prof
*.cfg
*foo*
build/
__pycache__/
*.tar.gz
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
CMakeSettings.json
cmake_install.cmake
install_manifest.txt
libpfnet.dll
pfnet_static_tests.exe
pfnet_tests.exe

# PyCharm Project Files
.idea/*

# visual studio project files
.vs/*

# Tests
tests/*.out
tests/run_tests
tests/run_tests.sh.log
tests/run_tests.sh.trs
tests/test-suite.log

# Autotools
*.lo
*.la
.deps/
.dirstamp
.libs/
aclocal.m4
autom4te.cache/
autoscan.log
compile
configure
configure.scan
config.guess
config.log
config.status
config.sub
depcomp
include/pfnet/config.h
include/pfnet/config.h.in
include/pfnet/pfnet_config.h
include/pfnet/pfnet_config.h.in
include/pfnet/stamp-h1
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
src/Makefile
src/Makefile.in
test-driver
tests/Makefile
tests/Makefile.in

# cmake
/build

# Mac OSX
.DS_Store