include build_lib.sh
include build_lib.bat
include clean.sh
include lib/pfnet*.tar.gz
include LICENSE.txt
recursive-include data *
recursive-include docs *
recursive-include examples *
recursive-include tests *
global-include *.pxd
global-include *.pyx
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.c
global-exclude *.raw
global-exclude *.art
global-exclude *~
